{% block javascripts %}
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
{% endblock %}

{% block body %}

<h1 style="text-align:center;">{{ game.whitePlayer.username }} : {{board.whiteScore}} - {{board.blackScore}} : {{ game.blackPlayer.username }}</h1>

<h4 id="partie" style="text-align:center;">{{ game.board }}</h4>

<table style="text-align:center;margin:auto">


	{% for file in 0..7 %}
	
		<tr>
	
	        {% for rank in 0..7 %}
	
	            {% if (file+rank)%2 != 0 %}
		
					<td id="{{ file }}{{ rank }}" style="width:40pt; height:40pt;">
	
	            {% else %}
	            	        
	        		<td id="{{ file }}{{ rank }}" style="width:40pt; height:40pt;background:silver;">
	
	            {% endif %}
				
				{% for piece in board.piecelist %}
				
					{% if piece.coordinates.file == file and piece.coordinates.rank == rank %}
					
						<span style="font-size:250%">&#{{ piece.htmlCode }};</span>
				
					{% endif %}
					
				{% endfor %}
					
				</td>
	
            {% endfor %}
	
		</tr>
	
	{% endfor %}

</table>

{% endblock %}

{% block javascript %}

<script type="text/javascript">

$(function() {
	$("td").click(function (){

			var id = $(this).attr('id');

			SelectionCase(id);
			
			var coord = CoordinatesFromId(id);
			$.ajax({
					url: "{{ path("app_list_move") }}",
					data: {id: {{ game.id }},file: coord[0],rank: coord[1]},	
				}).done(function (data){
					alert(typeof data.moves +" : "+data.moves);
						//data.moves.forEach(function(coord){
						//		element = document.getElementById(coord);
						//		element.style.background = 'green';
						//	});
					})
		})
})


function SelectionCase(id)
{
	element = document.getElementById(id);
	ResetColor();
	element.style.background = 'yellow';
}


function ResetColor()
{
	for(var i = 0 ; i<8 ; i+=1)
	{
		for(var j = 0 ; j < 8 ; j+=1)
		{
			var element = document.getElementById(String(i)+String(j));
			if( ((i+j) % 2) == 0)
			{
				element.style.background = 'silver';
			}
			else
			{
				element.style.background = 'white';
			}
		}
	}
}

function CoordinatesFromId(id)
{
	var arrayId = id.split("");

	var coordinates = [parseInt(arrayId[0]),parseInt(arrayId[1])];
	
	return coordinates;
	
}

</script>

{% endblock %}
